*{
    margin: 0;
    padding: 0;
}

body{
    text-align: center;
}

header h1{
    margin: 30px 0px 20px 0px;
}

.visual{
    text-align: center;
    display: flex;
    height: 80vh;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

@keyframes jump{
    0%{
        bottom: 0%;
        left: 20%;
    }
    50%{
        bottom: 50%;
        left: 50%
    }

    100%{
        bottom: 0%;
        left: 80%;
    }
}

.visual > div{
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0%;
    left:20%;
    bottom:0%;
    z-index: -1;
}

.pads{
    width: 100%;
    display: flex;
}

.pads > div{
    height: 100px;
    width: 100px;
    flex: 1;

}

.pad1{
    background: violet;
}

.pad2{
    background: indigo;
}

.pad3{
    background: blue;
}

.pad4{
    background: green;
}

.pad5{
    background: yellow;
}

.pad6{
    background: orange;
}